<!DOCTYPE html>
<html lang="en" class="no-js">
<!--
    Mirrored from cpswealth.com/knowledge by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 27 Oct 2018 08:18:21 GMT
  -->
<!-- Added by HTTrack
  -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<!--
    /Added by HTTrack
  -->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{!-- Put logo over here --}}
  {{!--
  <link rel="shortcut icon" href="https://static.twentyoverten.com/598acf5b3fee0d040bfd9865/favicon/SJidajznW-favicon.ico"
    type="image/x-icon" />
  --}}

  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
  <meta http-equiv="cleartype" content="on" />
  <meta name="robots" content="noodp" />

  <!-- Title & Description -->
  <title>
    Privé Wealth Management // Breeding on Integrity and Technology
  </title>
  <meta name="description" content="Privé Wealth Management is an independent financial services company advising individuals, families and institutions. Our highly experienced team specializes in bespoke financial planning and wealth management. " />

  <!-- Open Graph -->
  <meta property="og:site_name" content="Privé Wealth Management // Breeding on Integrity and Technology" />
  <meta property="og:title" content="Privé Wealth Management // Breeding on Integrity and Technology" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="index.html" />
  <meta property="og:type" content="website" />

  <meta itemprop="name" content="Privé Wealth Management // Breeding on Integrity and Technology" />
  <meta itemprop="description" content="Privé Wealth Management is an independent financial services company advising individuals, families and institutions. Our highly experienced team specializes in bespoke financial planning and wealth management. " />
  <meta itemprop="url" content="index.html" />

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Privé Wealth Management // Breeding on Integrity and Technology" />
  <meta name="twitter:description" content="" />

  <!-- Mobile App Settings -->

  {{!-- Put logo ver here --}}
  {{!--
  <link rel="apple-touch-icon" href="/static.twentyoverten.com/598acf5b3fee0d040bfd9865/favicon/SJidajznW.png" />
  --}}

  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-mobile-web-app-title" content="Privé Wealth Management // Breeding on Integrity and Technology" />

  <!-- Prefetch -->
  {{!--
  <link rel="dns-prefetch" href="https://static.twentyoverten.com/" />
  --}}

  <style>
    @import "https://fonts.googleapis.com/css?family=Poppins:000,000i|Lato:000,000i|Open+Sans:000,000i";
    </style>

  <link href="/frameworks/assets/dist/css/global.css" rel="stylesheet" />
  <link href="/frameworks/themes/iris/2.0.0/assets/dist/css/main.css" rel="stylesheet" />
  <script src="/frameworks/assets/dist/js/handlebars.js"></script>
  <link href="/css/custom.css" rel="stylesheet" />

  <style>
    body {
        -webkit-font-smoothing: antialiased !important;
        font-smoothing: antialiased !important;
        overflow-x: hidden;
      }

      ::selection {
        background: #eab876;
      }

      table {
        color: #888;
      }

      h1 {
        font-size: 2.25em;
        font-weight: 600;
        line-height: 1.2;
      }

      h2 {
        margin-bottom: 1rem;
      }

      h3 {
        margin-bottom: 1rem;
        font-size: 1.375em;
        font-weight: 600;
      }

      h4 {
        font-size: 0.875em;
        margin-bottom: 1rem;
        color: #adadad;
      }

      p {
        color: #888;
      }

      hr {
        border-color: #eab876;
      }

      .has-bg #page {
        padding-top: 2.5rem;
      }

      .footer {
        padding-top: 0;
      }

      .affiliations {
        position: relative;
        z-index: 1;
        margin: 0 0 4rem;
        padding: 3rem 0;
      }

      .affiliations img {
        margin: 1rem auto;
      }

      .affiliations::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -1;
        left: -100vw;
        width: 200vw;
        background: #f5f5f5;
      }

      .divider .overlay,
      .page-bg .overlay {
        background-color: rgba(0, 0, 0, 0.2);
      }

      span.post-categories .category a {
        color: #999;
      }

      .post-meta {
        color: #999;
        font-size: 13px;
        font-weight: bold;
      }

      body.post #page {
        background: #f5f5f5;
      }

      body.post #page .container {
        background: #fff;
      }

      body.post #page .container .post-wrapper {
        padding: 0 20px 50px;
      }

      #header .active a {
        color: #222;
      }

      #header a:hover {
        color: #222;
      }

      #logo img[src$=".svg"] {
        width: 70%;
      }

      #sub-navigation ul li a::after,
      .tabs-nav ul li a::after {
        background: #d6d6d6;
      }

      #sub-navigation ul li a:hover::after,
      .tabs-nav ul li a:hover::after {
        background: #d6d6d6;
      }

      #sub-navigation ul li.active a,
      .tabs-nav ul li.active a {
        color: #ffffff !important;
        background: black !important;
      }

      .overlay {
        overflow: hidden;
      }

      .tabs-nav ul li a:hover {
        color: #888;
      }

      .btn {
        font-size: 0.813em;
      }

      .btn.primary {
        background: black;
      }

      .btn:hover,
      .btn.primary:hover {
        background: #c21135;
      }

      .divider,
      .divider .overlay {
        min-height: 50vh;
      }

      #main-navigation ul li a {
        font-size: 0.938em;
      }

      /* .hero-container {
    background: rgba(255, 255, 255, 0.93);
    padding: 30px 35px 35px;
    display: inline-block;
    position: relative;
    border-left: 5px solid #EAB876;
  }
  
  */

      .hero-container {
        padding-left: 35px;
        padding-bottom: 5px;
        display: inline-block;
        position: relative;
      }

      .hero-container h1 {
        margin: 0 0 0.5rem;
        color: #fff;
      }

      .hero-container h3 {
        margin: 0 0 1.65rem;
        font-weight: 400;
        font-size: 1.25em;
      }

      .footer h4 {
        margin-bottom: 0;
      }

      .footer a:hover {
        color: #fff;
      }

      .form-item h4 {
        color: #222;
      }

      .form-control {
        color: #888;
      }

      .main-content ul li {
        list-style: none;
        position: relative;
        padding-left: 15px;
        line-height: 1.7;
      }

      .main-content ul li::before {
        color: #eab876;
        content: "\2022";
        font-size: 18px;
        position: absolute;
        top: 0;
        left: 0;
      }

      ul,
      ol {
        margin: 1rem 0 1.5rem 0rem;
        color: #888;
      }

      ul.list li {
        list-style: none;
        position: relative;
        padding-left: 15px;
        line-height: 1.7;
      }

      ul.list li::before {
        color: #eab876;
        content: "\2022";
        font-size: 18px;
        position: absolute;
        top: 0;
        left: 0;
      }

      #section-client-center .clients {
        min-height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
      }

      #section-client-center .clients img {
        max-width: 155px;
        filter: grayscale(100%);
        opacity: 0.35;
        transition: 0.3s;
      }

      #section-client-center .clients img:hover {
        opacity: 1;
        filter: none;
      }

      #section-client-center .btn {
        margin-bottom: 40px;
      }

      .member-item.has-thumb .open-overlay .member-header .read-bio {
        color: #eab876;
      }

      .form-control {
        background: #f1f1f1;
      }

      .form-item .form-control {
        height: 50px;
      }

      .form-wrapper {
        padding: 0 20px;
      }

      figure.thumbnail .overlay {
        background: rgba(102, 109, 125, 0.25);
      }

      .member-item.has-thumb .open-overlay .member-header h3 {
        color: #fff;
      }

      .member-item.has-thumb .open-overlay .member-header .member-title {
        color: #d8d8d8;
      }

      .member-item.has-thumb .open-overlay .member-header {
        left: 0;
      }

      .members-list {
        max-width: 760px;
        margin: 0 auto;
      }

      /* .left h2 {
    padding: 20px 20px 10px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    font-size: 1.250em;
    left: 65px;
    max-width: calc(100% - 130px);
    font-weight: 500;
  }
  
  .right {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center center;
  }
  
  */

      .overlay h2 {
        color: #fff;
      }

      .overlay hr {
        border-color: #d6d6d6;
      }

      @media screen and (min-width: 820px) {
        /* .left h2 {
      padding: 0;
      background-color: transparent;
      position: relative;
      font-size: 28px;
      left: 0;
      max-width: 100%;
      line-height: 1.3;
      color: #fff;
    }
    
    .right {
      position: absolute;
      top: 0;
      left: 42%;
      width: 58%;
      height: 100%;
      background-size: cover;
      -webkit-clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
      clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%); 
    }
    
    */

        #main-navigation ul li a {
          font-size: 0.938em;
          color: white;
        }

        h1 {
          font-size: 3em;
          margin: 20px 0 30px;
        }

        h3 {
          font-size: 1.5em;
        }

        .hero-container {
          padding-left: 45px;
          padding-bottom: 10px;
        }

        .hero-container h1 {
          margin: 0 0 0.8rem;
        }

        .hero-container h3 {
          font-size: 1.438em;
        }

        .btn {
          font-size: 0.875em;
        }

        #section-client-center .clients {
          margin-bottom: 0;
        }

        .posts-wrapper .post-link {
          text-align: left;
        }

        .form-item .form-control {
          height: 51px;
        }

        .form-wrapper {
          padding: 0;
        }

        body.post #page .container .post-wrapper {
          padding-bottom: 100px;
        }

        .post-meta {
          font-size: 14px;
        }

        #section-client-center .clients img {
          max-width: 175px;
        }

        #section-client-center .clients {
          min-height: 85px;
        }

        .affiliations img {
          margin: 0 auto;
        }

        .has-bg #page {
          padding-top: 5rem;
        }

        .member-item.has-thumb.show-2-up:nth-child(n + 3) {
          max-width: 40%;
        }
      }
    </style>
</head>

<body class="blog-page knowledge has-bg has-fixed-header">
  <svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
      <symbol id="icon-facebook" viewBox="0 0 24 24">
        <title>facebook</title>
        <path d="M12 0.48c-6.362 0-11.52 5.158-11.52 11.52s5.158 11.52 11.52 11.52 11.52-5.158 11.52-11.52-5.158-11.52-11.52-11.52zM14.729 8.441h-1.732c-0.205 0-0.433 0.27-0.433 0.629v1.25h2.166l-0.328 1.783h-1.838v5.353h-2.044v-5.353h-1.854v-1.783h1.854v-1.049c0-1.505 1.044-2.728 2.477-2.728h1.732v1.897z"></path>
      </symbol>
      <symbol id="icon-twitter" viewBox="0 0 24 24">
        <title>twitter</title>
        <path d="M12 0.48c-6.362 0-11.52 5.158-11.52 11.52s5.158 11.52 11.52 11.52 11.52-5.158 11.52-11.52-5.158-11.52-11.52-11.52zM16.686 9.917c0.005 0.098 0.006 0.197 0.006 0.293 0 3-2.281 6.457-6.455 6.457-1.282 0-2.474-0.374-3.478-1.020 0.176 0.022 0.358 0.030 0.541 0.030 1.063 0 2.041-0.361 2.818-0.971-0.992-0.019-1.83-0.674-2.119-1.574 0.138 0.025 0.28 0.040 0.426 0.040 0.206 0 0.408-0.028 0.598-0.079-1.038-0.209-1.82-1.126-1.82-2.225v-0.028c0.306 0.169 0.656 0.272 1.028 0.284-0.61-0.408-1.009-1.102-1.009-1.89 0-0.415 0.112-0.806 0.307-1.141 1.12 1.373 2.79 2.275 4.676 2.372-0.040-0.167-0.059-0.34-0.059-0.518 0-1.252 1.015-2.269 2.269-2.269 0.652 0 1.242 0.276 1.656 0.718 0.517-0.103 1.002-0.29 1.44-0.551-0.169 0.529-0.528 0.974-0.997 1.256 0.46-0.056 0.896-0.178 1.303-0.359-0.304 0.455-0.689 0.856-1.132 1.175z"></path>
      </symbol>
      <symbol id="icon-instagram" viewBox="0 0 24 24">
        <title>instagram</title>
        <path d="M12.1,9.4c-1.6,0-2.9,1.3-2.9,2.9c0,1.6,1.3,2.9,2.9,2.9c1.6,0,2.9-1.3,2.9-2.9C15,10.8,13.7,9.4,12.1,9.4z M12.1,14 c-0.9,0-1.7-0.7-1.7-1.7c0-0.9,0.7-1.7,1.7-1.7c0.9,0,1.7,0.7,1.7,1.7C13.7,13.3,13,14,12.1,14z"></path>
        <path d="M12,0.5C5.6,0.5,0.5,5.6,0.5,12S5.6,23.5,12,23.5S23.5,18.4,23.5,12S18.4,0.5,12,0.5z M17.5,14.9c0,1.4-1.2,2.6-2.6,2.6H9.1 c-1.4,0-2.6-1.2-2.6-2.6V9.1c0-1.4,1.2-2.6,2.6-2.6h5.9c1.4,0,2.6,1.2,2.6,2.6V14.9z"></path>
        <circle cx="15.1" cy="8.7" r="0.8"></circle>
      </symbol>
      <symbol id="icon-linkedin" viewBox="0 0 24 24">
        <title>linkedin</title>
        <path d="M12 0.48c-6.362 0-11.52 5.158-11.52 11.52s5.158 11.52 11.52 11.52 11.52-5.158 11.52-11.52-5.158-11.52-11.52-11.52zM9.18 16.775h-2.333v-7.507h2.333v7.507zM7.999 8.346c-0.737 0-1.213-0.522-1.213-1.168 0-0.659 0.491-1.165 1.243-1.165s1.213 0.506 1.228 1.165c0 0.646-0.475 1.168-1.258 1.168zM17.7 16.775h-2.333v-4.16c0-0.968-0.338-1.626-1.182-1.626-0.644 0-1.027 0.445-1.196 0.874-0.062 0.152-0.078 0.368-0.078 0.583v4.328h-2.334v-5.112c0-0.937-0.030-1.721-0.061-2.395h2.027l0.107 1.043h0.047c0.307-0.49 1.060-1.212 2.318-1.212 1.535 0 2.686 1.028 2.686 3.239v4.439z"></path>
      </symbol>
      <symbol id="icon-google" viewBox="0 0 24 24">
        <title>google</title>
        <path d="M12 0.48v0c6.362 0 11.52 5.158 11.52 11.52s-5.158 11.52-11.52 11.52c-6.362 0-11.52-5.158-11.52-11.52s5.158-11.52 11.52-11.52zM18.125 11.443h-1.114v-1.114h-1.114v1.114h-1.114v1.114h1.114v1.114h1.114v-1.114h1.114zM9.773 11.443v1.336h2.21c-0.089 0.573-0.668 1.681-2.21 1.681-1.331 0-2.416-1.102-2.416-2.461s1.086-2.461 2.416-2.461c0.757 0 1.264 0.323 1.553 0.601l1.058-1.019c-0.679-0.635-1.559-1.019-2.611-1.019-2.155 0-3.897 1.743-3.897 3.897s1.743 3.897 3.897 3.897c2.249 0 3.742-1.581 3.742-3.808 0-0.256-0.028-0.451-0.061-0.646h-3.68z"></path>
      </symbol>
      <symbol id="icon-youtube" viewBox="0 0 24 24">
        <title>youtube</title>
        <path d="M13.924 11.8l-2.695-1.258c-0.235-0.109-0.428 0.013-0.428 0.274v2.369c0 0.26 0.193 0.383 0.428 0.274l2.694-1.258c0.236-0.11 0.236-0.29 0.001-0.401zM12 0.48c-6.362 0-11.52 5.158-11.52 11.52s5.158 11.52 11.52 11.52 11.52-5.158 11.52-11.52-5.158-11.52-11.52-11.52zM12 16.68c-5.897 0-6-0.532-6-4.68s0.103-4.68 6-4.68 6 0.532 6 4.68-0.103 4.68-6 4.68z"></path>
      </symbol>
      <symbol id="icon-vimeo" viewBox="0 0 24 24">
        <title>vimeo</title>
        <path d="M12 0.48c-6.362 0-11.52 5.158-11.52 11.52s5.158 11.52 11.52 11.52 11.52-5.158 11.52-11.52-5.158-11.52-11.52-11.52zM17.281 9.78c-0.61 3.499-4.018 6.464-5.041 7.141-1.025 0.674-1.961-0.272-2.299-0.989-0.389-0.818-1.552-5.248-1.856-5.616-0.305-0.367-1.219 0.368-1.219 0.368l-0.443-0.593c0 0 1.856-2.26 3.269-2.54 1.498-0.3 1.495 2.341 1.855 3.809 0.349 1.42 0.583 2.231 0.887 2.231 0.305 0 0.887-0.79 1.523-2.004 0.638-1.214-0.026-2.287-1.273-1.524 0.498-3.048 5.208-3.782 4.598-0.283z"></path>
      </symbol>
      <symbol id="icon-tumblr" viewBox="0 0 24 24">
        <title>tumblr</title>
        <path d="M12 0.48c-6.362 0-11.52 5.158-11.52 11.52s5.158 11.52 11.52 11.52 11.52-5.158 11.52-11.52-5.158-11.52-11.52-11.52zM15.092 16.969c-0.472 0.226-0.898 0.382-1.279 0.474-0.382 0.089-0.794 0.136-1.237 0.136-0.504 0-0.949-0.066-1.337-0.194s-0.718-0.312-0.991-0.551c-0.274-0.236-0.463-0.492-0.569-0.76-0.106-0.27-0.158-0.659-0.158-1.168v-3.914h-1.219v-1.577c0.431-0.143 0.804-0.347 1.112-0.614 0.308-0.265 0.557-0.583 0.743-0.956 0.187-0.372 0.316-0.848 0.386-1.422h1.568v2.82h2.616v1.75h-2.616v2.862c0 0.647 0.034 1.062 0.102 1.244 0.067 0.185 0.193 0.33 0.378 0.44 0.245 0.148 0.524 0.222 0.836 0.222 0.559 0 1.114-0.185 1.666-0.553v1.762h-0.001z"></path>
      </symbol>
      <symbol id="icon-yelp" viewBox="0 0 24 24">
        <title>yelp</title>
        <path d="M12 0.48v0c6.362 0 11.52 5.158 11.52 11.52s-5.158 11.52-11.52 11.52c-6.362 0-11.52-5.158-11.52-11.52s5.158-11.52 11.52-11.52zM13.716 13.671v0c0 0-0.3-0.080-0.499 0.122-0.218 0.221-0.034 0.623-0.034 0.623l1.635 2.755c0 0 0.268 0.363 0.501 0.363s0.464-0.193 0.464-0.193l1.292-1.864c0 0 0.131-0.235 0.133-0.441 0.005-0.293-0.433-0.373-0.433-0.373l-3.059-0.991zM13.062 12.406c0.156 0.268 0.588 0.19 0.588 0.19l3.052-0.9c0 0 0.416-0.171 0.475-0.398 0.058-0.228-0.069-0.503-0.069-0.503l-1.459-1.734c0 0-0.126-0.219-0.389-0.241-0.29-0.025-0.467 0.329-0.467 0.329l-1.725 2.739c0.001-0.001-0.151 0.272-0.007 0.519v0zM11.62 11.338c0.359-0.089 0.417-0.616 0.417-0.616l-0.024-4.386c0 0-0.054-0.541-0.295-0.688-0.378-0.231-0.49-0.111-0.598-0.095l-2.534 0.95c0 0-0.248 0.083-0.377 0.292-0.185 0.296 0.187 0.73 0.187 0.73l2.633 3.624c0 0 0.26 0.271 0.591 0.189v0zM10.994 13.113c0.009-0.338-0.402-0.542-0.402-0.542l-2.724-1.388c0 0-0.404-0.168-0.6-0.051-0.149 0.089-0.283 0.252-0.295 0.394l-0.177 2.204c0 0-0.026 0.382 0.072 0.556 0.139 0.246 0.596 0.075 0.596 0.075l3.18-0.709c0.123-0.084 0.34-0.092 0.352-0.539v0zM11.785 14.302c-0.273-0.141-0.6 0.151-0.6 0.151l-2.129 2.366c0 0-0.266 0.362-0.198 0.584 0.064 0.208 0.169 0.312 0.318 0.385l2.138 0.681c0 0 0.259 0.054 0.456-0.003 0.279-0.082 0.227-0.522 0.227-0.522l0.048-3.203c0 0.001-0.011-0.308-0.26-0.438v0z"></path>
      </symbol>
      <symbol id="icon-rss" viewBox="0 0 24 24">
        <title>rss</title>
        <path d="M11.994 0.48c-6.362 0-11.514 5.152-11.514 11.514s5.152 11.514 11.514 11.514c6.362 0 11.514-5.152 11.514-11.514s-5.152-11.514-11.514-11.514v0zM9.112 16.68c-0.788 0-1.432-0.644-1.432-1.432s0.644-1.432 1.432-1.432c0.788 0 1.432 0.644 1.432 1.432s-0.644 1.432-1.432 1.432v0zM12.788 16.68c0-2.82-2.287-5.108-5.108-5.108v-1.499c3.642 0 6.607 2.954 6.607 6.607h-1.499zM15.775 16.68c0-4.475-3.631-8.095-8.095-8.095v-1.499c5.296 0 9.594 4.297 9.594 9.594h-1.499z"></path>
      </symbol>
      <symbol id="icon-email" viewBox="0 0 24 24">
        <title>email</title>
        <path d="M12,0A12,12,0,1,0,24,12,12,12,0,0,0,12,0Zm5.964,8.063L12.2,12.871a0.419,0.419,0,0,1-.391,0L6.036,8.063H17.964ZM5.2,8.724l4.084,3.4L5.2,15.293V8.724Zm0.87,7.213L10.1,12.8l1.044,0.866a1.341,1.341,0,0,0,1.718,0L13.9,12.8l4.027,3.133H6.07Zm12.73-.644-4.084-3.17,4.084-3.4v6.569Z"></path>
      </symbol>
      <symbol id="icon-podcast" viewBox="0 0 24 24">
        <title>podcast</title>
        <path d="M12,0A12,12,0,1,0,24,12,12,12,0,0,0,12,0ZM10.1,7.9a1.9,1.9,0,0,1,3.793,0v3.793a1.9,1.9,0,1,1-3.793,0V7.9Zm2.519,8.03V18H11.378V15.926a4.386,4.386,0,0,1-3.793-4.237H8.652A3.281,3.281,0,0,0,12,14.918a3.281,3.281,0,0,0,3.348-3.229h1.066A4.386,4.386,0,0,1,12.622,15.926Z"></path>
      </symbol>
      <symbol id="icon-blog" viewBox="0 0 24 24">
        <title>blog</title>
        <path d="M12,0A12,12,0,1,0,24,12,12,12,0,0,0,12,0ZM9.083,17H7V14.917l6.146-6.146,2.083,2.083Zm7.76-7.76-1.016,1.016L13.745,8.172,14.76,7.156a0.566,0.566,0,0,1,.781,0l1.3,1.3A0.566,0.566,0,0,1,16.844,9.24Z" />
      </symbol>
      <symbol id="icon-external" viewBox="0 0 24 24">
        <title>external</title>
        <path d="M21.984 12l-3.984 3.984v-3h-15v-1.969h15v-3z"></path>
      </symbol>
      <symbol id="icon-search" viewBox="0 0 24 24">
        <title>search</title>
        <path d="M17.611,15.843a9.859,9.859,0,1,0-1.769,1.769l6.379,6.379,1.769-1.769ZM9.836,17.17A7.334,7.334,0,1,1,17.17,9.836,7.342,7.342,0,0,1,9.836,17.17Z" />
      </symbol>
      <symbol id="icon-brokercheck" viewBox="0 0 100 100">
        <title>brokercheck</title>
        <path d="M67.057,60.029a2.968,2.968,0,0,0-4.2-.119,19.351,19.351,0,1,1,.8-27.341A2.968,2.968,0,1,0,67.976,28.5a25.288,25.288,0,1,0-1.038,35.728A2.968,2.968,0,0,0,67.057,60.029Z" />
        <path d="M47.714,32.506a0.654,0.654,0,0,0-.49-1.185,14.61,14.61,0,0,0-9.183,23.649,0.611,0.611,0,0,0,1.084-.506C37.286,46.088,39.185,37.392,47.714,32.506Z" />
        <path d="M63.814,69.544a0.906,0.906,0,0,0-1.222-.374l-3.7,1.965a0.9,0.9,0,1,0,.848,1.6l3.7-1.965A0.906,0.906,0,0,0,63.814,69.544Z" />
        <path d="M70.211,80.4l-3.455-6.5a3.1,3.1,0,1,0-5.47,2.909l3.455,6.5A3.1,3.1,0,0,0,70.211,80.4Zm-1.012,1.8a0.948,0.948,0,0,1-1.278-.391l-1.21-2.276a0.945,0.945,0,1,1,1.669-.887l1.21,2.276A0.948,0.948,0,0,1,69.2,82.209Z" />
      </symbol>
      <symbol id="icon-brokercheck-color" viewBox="0 0 100 100">
        <title>brokercheck</title>
        <path d="M67.057,60.029a2.968,2.968,0,0,0-4.2-.119,19.351,19.351,0,1,1,.8-27.341A2.968,2.968,0,1,0,67.976,28.5a25.288,25.288,0,1,0-1.038,35.728A2.968,2.968,0,0,0,67.057,60.029Z"
          fill="#1965A2" />
        <path d="M47.714,32.506a0.654,0.654,0,0,0-.49-1.185,14.61,14.61,0,0,0-9.183,23.649,0.611,0.611,0,0,0,1.084-.506C37.286,46.088,39.185,37.392,47.714,32.506Z"
          fill="#4DA3DB" />
        <path d="M63.814,69.544a0.906,0.906,0,0,0-1.222-.374l-3.7,1.965a0.9,0.9,0,1,0,.848,1.6l3.7-1.965A0.906,0.906,0,0,0,63.814,69.544Z"
          fill="#CF3317" />
        <path d="M70.211,80.4l-3.455-6.5a3.1,3.1,0,1,0-5.47,2.909l3.455,6.5A3.1,3.1,0,0,0,70.211,80.4Zm-1.012,1.8a0.948,0.948,0,0,1-1.278-.391l-1.21-2.276a0.945,0.945,0,1,1,1.669-.887l1.21,2.276A0.948,0.948,0,0,1,69.2,82.209Z"
          fill="#CF3317" />
      </symbol>
    </defs>
  </svg>

  <header id="header" role="banner">
    <div class="header-inner">


      {{!-- // put logo iver here --}}
      <div id="logo">
        <a href="/">

          <img src="/logo.png" alt="Privé Wealth Management // Breeding on Integrity and Technology">

        </a>
      </div>




      <div class="menu-toggle">
        <div class="menu-size">
          <span></span>
        </div>
      </div>

      <nav id="main-navigation">
        <ul>







          <li>
            <a href="javascript:void(0);" data-section="#who-we-are">
              Who We Are
            </a>
          </li>










          <li>
            <a href="javascript:void(0);" data-section="#what-we-do">
              What We Do
            </a>
          </li>










          <li>
            <a href="/forum" class="forum">
              Knowledge
            </a>
          </li>










          <li>
            <a href="javascript:void(0);" data-section="client-center">
              Client Center
            </a>
          </li>










          <li>
            <a href="javascript:void(0);" data-section="#contact">
              Contact Us
            </a>
          </li>






        </ul>
      </nav>


    </div>
  </header>

  <div class="page-bg">
    <div class="bg" style="background-image:url('../static.twentyoverten.com/598acf5b3fee0d040bfd9865/ByPqk7PWG/shutterstock_589889846.jpg'); background-position: center center; background-repeat: repeat; background-attachment: fixed; background-size: cover;"></div>

    <div class="overlay">
      <div class="container">
        <div class="header-push"></div>

        <div class="hero-content" data-location="hero_content" data-id="5bb5d05b089aae58a0896580" data-type="hero">
          <h1 style="text-align: center; color: #fff;">Knowledge Center</h1>
        </div>
      </div>
    </div>
  </div>

  <div id="page">
    <div class="container">
      <main id="content" class="main-content" data-location="content" data-id="5bb5d05b089aae58a0896580" data-type="page"
        role="main">
        <h2 style="text-align: center;">Latest From Our Blog</h2>
      </main>
    </div>

    <form onsubmit="return false" class="form minimal search-form">
      <div class="form-wrapper">
        <div class="form-item form-fit">
          <input type="input" name="q" value="" placeholder="Enter your search..." class="form-control" />
        </div>
        <div class="form-item">
          <button type="submit" class="btn">Search</button>
        </div>
      </div>
    </form>

    <section id="blog-categories">
      <nav>
        <ul>
          <li class="active categoryLi" category="all"><a href="javascript:void(0);">All</a></li>

          <li class="categoryLi" category="College Planning">
            <a href="javascript:void(0);">College Planning</a>
          </li>

          <li class="categoryLi" category="Investing">
            <a href="javascript:void(0);">Investing</a></li>

          <li class="categoryLi" category="Retirement Funding">
            <a href="javascript:void(0);">Retirement Funding</a>
          </li>

          <li class="categoryLi" category="Insights"><a href="javascript:void(0);">Insights</a></li>
        </ul>
      </nav>
    </section>

    <section id="posts-list" class="posts-wrapper">

      {{#each docs}}
      <article class="post-link">
        <a href={{this.forumUrl}}>
          <figure class="post-thumbnail">
            <img src={{this.image}} alt="%POST_TITLE% Thumbnail" />
          </figure>

          <header class="post-header">
            <div class="post-meta">
              <time datetime=">2017-11-30">{{this.Date}}</time>
            </div>
            <h3>{{this.title}}</h3>
          </header>
        </a>

        <div class="post-excerpt">
          <p>
            {{this.subtitle}}
          </p>
        </div>

        <span class="post-categories">
          <span class="category"><a href="javascript:void(0);">{{this.category}}</a></span>
        </span>
      </article>
      {{/each}}


      {{!-- For category and search --}}


    </section>
    <section id="posts-list-dynamic" class="posts-wrapper">
      <div id="storeLc">
      </div>
    </section>
    {{!-- <div class="pagination">
      <hr />
      <nav class="load-more">
        <a href="#" class="btn load-posts" data-url="/knowledge" data-current-page="1" data-total-pages="2">Load More
          Posts</a>
      </nav>
    </div> --}}
  </div>

  <footer class="footer" role="contentinfo">
    <div class="footer-wrapper">
      <div class="container">
        <div class="footer-content" data-location="footer" data-id="5bb5d05b089aae58a0896587" data-type="footer">
          <div class="affiliations">
            <div class="row middle-xs">
              <div class="col-xs-12 col-sm-3" style="text-align: center;"><img src="/static.twentyoverten.com/598acf5b3fee0d040bfd9865/B1bLddkAb/cfp-logo.png"
                  style="max-width: 120px;"></div>
              <div class="col-xs-12 col-sm-3" style="text-align: center;"><img src="/static.twentyoverten.com/598acf5b3fee0d040bfd9865/Hyi3vdJ0-/fpa.png"
                  style="max-width: 190px;"></div>
              <div class="col-xs-12 col-sm-3" style="text-align: center;"><img src="/static.twentyoverten.com/598acf5b3fee0d040bfd9865/rJG8uukAb/FPAS300.png"
                  style="max-width: 130px;"></div>
              <div class="col-xs-12 col-sm-3" style="text-align: center;"><img src="/static.twentyoverten.com/598acf5b3fee0d040bfd9865/HJULOuJ0b/associate.png"
                  style="max-width: 200px;"></div>
              <p><br></p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <h3>India:</h3>
              <p>Privé Wealth LLP <br>20600 Dalamal Tower <br>Nariman Point, Mumbai</p>
              <h4>Phone</h4>
              <p>+91-9004727477</p>
              <h4 style="display:none;">
                {{!-- <p>Privé Wealth is registered with the <a href="http://www.adviserinfo.sec.gov/IAPD/IAPDFirmSummary.aspx?ORG_PK=159909"
                    rel="noopener noreferrer" target="_blank">Securities and Exchange Board of India as a Registered
                    Investment Advisor</a> (RID: 121145)&nbsp;</p> --}}
            </div>
          </div>
          <h4><br></h4>
          <h4>Resources: <a href="javascript:void(0);">Current
              Form ADV</a> - <a href="/privacy-policy">Privacy Policy</a> - <a href="business-continuity.html">Business
              Continuity</a></h4>
          {{!-- <p class="disclaimer"><br><em>For additional information on Privé please refer to the SEC Website at <a
                href="http://www.adviserinfo.sec.gov/" rel="noreferrer nofollow noopener" target="_blank">www.adviserinfo.sec.gov</a>
              CRD #159909<br></em><br></p> --}}
        </div>
        <!-- <div id="tot_badge" style="display:none;">
            <p>
              <a href="https://twentyoverten.com/" target="_blank">
                <img src="data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath d='M15,1.75A13.25,13.25,0,1,1,1.75,15,13.27,13.27,0,0,1,15,1.75M15,0A15,15,0,1,0,30,15,15,15,0,0,0,15,0h0Z' fill='%23888888'/%3E%3Cpath d='M13.13,6.39a0.6,0.6,0,0,1,.57-0.63h0.72a0.6,0.6,0,0,1,.64.63V9h1a0.6,0.6,0,0,1,.64.63V10a0.61,0.61,0,0,1-.56.65H15.06v6.73c0,0.82.21,1.06,0.93,1.06h0.47a0.6,0.6,0,0,1,.64.63v0.4a0.61,0.61,0,0,1-.57.64h-0.6c-2,0-2.85-.82-2.85-2.73v-11h0Z' fill='%23888888'/%3E%3Cpath d='M17.38,23.6a0.64,0.64,0,0,1-.64.63H13.28a0.64,0.64,0,0,1-.64-0.63V23.05a0.64,0.64,0,0,1,.64-0.59h3.44a0.64,0.64,0,0,1,.64.63V23.6Z' fill='%23888888'/%3E%3C/svg%3E" alt="Financial Advisor Websites by Twenty Over Ten">
                <span>Powered by Twenty Over Ten</span>
              </a>
            </p>
          </div> -->
      </div>
    </div>

  </footer>

  {{!--
  <script>
    window.appUrl = "https://twentyoverten.com/";
    window.siteUrl = "index.html";
    window.suppress = false;
    window.calendlyActive = false;
  </script> --}}

  <script src="/ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  <script src="/frameworks/assets/dist/js/global-2.0.2.js"></script>
  <script src="/frameworks/assets/dist/js/custom.js"></script>
  <script src="/frameworks/themes/iris/2.0.0/assets/dist/js/main-2.0.0.js"></script>

</body>

<!--
    Mirrored from cpswealth.com/knowledge by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 27 Oct 2018 08:19:04 GMT
  -->

</html>