/* ============== FROALA ============== */
.main-content.editable::before,
.main-content.editable .form span.delete-contact-form::before {
  background: #181818;
  color: white; }

.main-content.editable::after,
.main-content.editable .form::after {
  border-color: #181818; }

.hero-content.editable::before,
.hero-content.editable .form span.delete-contact-form::before {
  background: #181818;
  color: white; }

.hero-content.editable::after,
.hero-content.editable .form::after {
  border-color: #181818; }

.footer-content.editable::before,
.footer-content.editable .form span.delete-contact-form::before {
  background: #ffffff;
  color: black; }

.footer-content.editable::after,
.footer-content.editable .form::after {
  border-color: #ffffff; }

.editable .posts-list {
  background: #f2f2f2; }

.editable .callout .posts-list {
  background: #7b7b7b; }

.fr-dropdown-list li > p,
.fr-dropdown-list li > h1,
.fr-dropdown-list li > h2,
.fr-dropdown-list li > h3,
.fr-dropdown-list li > h4,
.fr-dropdown-list li > pre {
  margin: 0;
  background: #ffffff; }

.fr-dropdown-list li > p,
.fr-dropdown-list li > pre {
  color: #181818; }

.fr-dropdown-list li > p a,
.fr-dropdown-list li > h1 a,
.fr-dropdown-list li > h2 a,
.fr-dropdown-list li > h3 a,
.fr-dropdown-list li > h4 a,
.fr-dropdown-list li > pre a {
  background: none !important; }

.fr-dropdown-list li > p a.fr-active,
.fr-dropdown-list li > h1 a.fr-active,
.fr-dropdown-list li > h2 a.fr-active,
.fr-dropdown-list li > h3 a.fr-active,
.fr-dropdown-list li > h4 a.fr-active,
.fr-dropdown-list li > pre a.fr-active {
  background: #c52031 !important;
  color: #ffffff !important; }

.fr-element table td.fr-selected-cell,
.fr-element table th.fr-selected-cell {
  box-shadow: inset 0 0 0 2px #181818; }

/* ============== SIZING ============== */
#logo {
  width: 235px; }

/* ============== FONTS ============== */
body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: normal; }

p {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: normal; }

strong {
  font-weight: 600; }

em,
i {
  font-style: italic; }

h1,
h3 {
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: 500; }

h2,
h4,
span.read-bio {
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: 600; }

blockquote p {
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: normal; }

.btn {
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: 500; }

#logo h1 {
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: normal; }

#logo .logo-tagline {
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: 500; }

#main-navigation ul li a,
#pull-out-nav ul li a,
#sub-navigation ul li a {
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: 500; }

#blog-categories {
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: 600; }

.load-posts,
.prev-page,
.next-page,
.page-count {
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: 500; }

.form-item label {
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: 500; }

.share-text {
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: 500; }

/* ============== COLORS ============== */
/* ----- Base ----- */
body {
  background: #ffffff;
  color: #181818; }

::selection {
  background: #888888;
  color: #fff; }

/* ----- Typography ----- */
a {
  color: #c52031; }
  .overlay a {
    color: #c52031; }

h1,
h3 {
  color: #181818; }
  .overlay h1, .overlay
  h3 {
    color: #181818; }

h2,
h4 {
  color: #181818; }
  .overlay h2, .overlay
  h4 {
    color: #181818; }

blockquote {
  color: #181818; }
  blockquote::before {
    color: rgba(24, 24, 24, 0.4); }
  .overlay blockquote {
    color: #181818; }
    .overlay blockquote::before {
      color: rgba(24, 24, 24, 0.4); }

hr {
  border-color: rgba(24, 24, 24, 0.6); }
  .overlay hr {
    border-color: rgba(24, 24, 24, 0.6); }

table th {
  background: #181818;
  color: #fff;
  border-color: black; }

table.uses-accent th {
  background: #888888;
  color: #fff;
  border-color: #6f6f6f; }

table.uses-accent.is-framed {
  border-color: #888888; }

table td {
  border-color: #d9d9d9; }
  table td.is-highlighted {
    background: rgba(136, 136, 136, 0.3); }

table.is-striped tbody tr:nth-child(even) {
  background: #f2f2f2; }

table.is-dashed th,
table.is-dashed td {
  border-color: rgba(24, 24, 24, 0.4); }

.btn {
  background: black;
  color: #ffffff; }
  .btn:hover {
    background: #181818; }
  .overlay .btn {
    background: #c52031;
    color: #fff; }
  .btn.inactive {
    background: #c52031;
    color: #ffffff; }
    .overlay .btn.inactive {
      background: #c52031;
      color: #181818; }
  .btn.primary {
    background: #888888;
    color: #ffffff; }
    .btn.primary:hover {
      background: #181818; }
  .btn.secondary {
    background: none;
    border-color: #c52031;
    color: #c52031; }
    .overlay .btn.secondary {
      border-color: #c52031;
      color: #c52031; }
    .btn.secondary.inactive {
      background: none;
      border-color: #c52031;
      color: #c52031; }
      .overlay .btn.secondary.inactive {
        border-color: #c52031;
        color: #c52031; }

span.search-term {
  color: #888888; }

.accented {
  color: #888888 !important; }

/* ----- Header ----- */
#header {
   background: rgba(18, 21, 27, 0.5);
  color: #181818; }
  #header a {
    color: #888888; }
    #header a:hover {
      color: #888888; }
    #header a.btn {
      background: #888888;
      color: #000; }
      #header a.btn:hover {
        background: #888888;
        color: #000; }
    .transparent-header #header a {
      color: #888888; }
      .transparent-header #header a:hover {
        color: #888888; }
      .transparent-header #header a.btn {
        background: #888888;
        color: #000; }
        .transparent-header #header a.btn:hover {
          background: #888888;
          color: #000; }
  #header .active a {
    color: #888888; }
    #header .active a::after {
      background: #888888; }

#logo a h1,
#logo a .logo-tagline {
  color: #c52031; }
  .transparent-header #logo a h1, .transparent-header
  #logo a .logo-tagline {
    color: #c52031; }

#main-navigation {
  background: #ffffff; }
  .transparent-header #main-navigation {
    background: #c52031; }

.menu-toggle span {
  background: #888888; }
  .menu-toggle span::before, .menu-toggle span::after {
    background: #888888; }
  .transparent-header .menu-toggle span {
    background: #888888; }
    .transparent-header .menu-toggle span::before, .transparent-header .menu-toggle span::after {
      background: #888888; }

/* ----- Hero Content ----- */
.divider .overlay,
.page-bg .overlay {
  background: transparent;
  color: #181818; }

.divider .scroll-down span,
.page-bg .scroll-down span {
  border-color: #181818; }

/* ----- Content ----- */
.main-content a::after {
  background: rgba(24, 24, 24, 0.5); }

.main-content a:hover::after {
  background: #c52031; }

.sidebar {
  border-color: #888888; }

.callout {
  color: #ffffff; }
  .callout::before {
    background: #888888; }
  .callout h1,
  .callout h3 {
    color: #ffffff; }
  .callout p,
  .callout .post-excerpt {
    color: rgba(255, 255, 255, 0.8); }
  .callout .post-link a:hover h3 {
    color: #ffffff; }
  .callout .btn {
    background: #ffffff;
    color: #888888; }

figure.thumbnail .overlay {
  background: transparent; }

.member-item.has-thumb .open-overlay .member-header {
  color: #181818; }
  .member-item.has-thumb .open-overlay .member-header h3 {
    color: #181818; }
  .member-item.has-thumb .open-overlay .member-header .member-title {
    color: #181818; }
  .member-item.has-thumb .open-overlay .member-header .read-bio {
    color: #c52031; }

.member-title {
  color: #888888; }

#blog-categories li a {
  color: rgba(24, 24, 24, 0.4); }
  #blog-categories li a:hover {
    color: #181818; }

#blog-categories li.active a {
  color: #888888; }

.post-link a:hover h3 {
  color: #c52031; }

.post-excerpt {
  color: #181818; }

span.post-categories .category a {
  color: #181818; }
  span.post-categories .category a:hover {
    color: #c52031; }

.btn.prev-page,
.btn.next-page {
  background: #181818;
  color: #ffffff; }
  .btn.prev-page:hover,
  .btn.next-page:hover {
    background: #888888; }
  .btn.prev-page.inactive,
  .btn.next-page.inactive {
    background: #181818;
    color: #ffffff; }
    .btn.prev-page.inactive:hover,
    .btn.next-page.inactive:hover {
      background: #181818; }

.btn.load-posts {
  background: #181818;
  color: #ffffff; }
  .btn.load-posts:hover {
    background: #888888; }
  .btn.load-posts.loading::after {
    border-color: rgba(0, 0, 0, 0.15);
    border-top-color: #181818; }

#sub-navigation ul li a,
.tabs-nav ul li a {
  color: #181818; }
  #sub-navigation ul li a::after,
  .tabs-nav ul li a::after {
    background: rgba(24, 24, 24, 0.4); }
  #sub-navigation ul li a:hover,
  .tabs-nav ul li a:hover {
    color: #c52031; }
    #sub-navigation ul li a:hover::after,
    .tabs-nav ul li a:hover::after {
      background: #c52031; }

#sub-navigation ul li.active a,
.tabs-nav ul li.active a {
  color: #ffffff; }
  #sub-navigation ul li.active a::after,
  .tabs-nav ul li.active a::after {
    background: #c52031; }

#sub-navigation ul span.indicator,
.tabs-nav ul span.indicator {
  background: #c52031; }

/* ----- Overlays ----- */
.close-overlay::before, .close-overlay::after {
  background: #c52031; }

.overlay-content {
  background: #ffffff;
  color: #181818; }

/* ----- Forms ----- */
.form-item.required label::after {
  color: #888888; }

.form-item .select::after {
  border-top-color: #181818; }

.form-item label.radio input {
  border-color: #181818; }
  .form-item label.radio input::after {
    background: #888888; }
  .form-item label.radio input:checked {
    border-color: #888888; }

.form-item label.checkbox input {
  border-color: #181818; }
  .form-item label.checkbox input::after {
    border-color: #888888; }
  .form-item label.checkbox input:checked {
    border-color: #888888; }

.form-control {
  background: rgba(24, 24, 24, 0.1);
  color: #181818; }
  .form-control.placeholder {
    color: rgba(24, 24, 24, 0.8); }
  .form-control:-moz-placeholder {
    color: rgba(24, 24, 24, 0.8); }
  .form-control::-moz-placeholder {
    color: rgba(24, 24, 24, 0.8); }
  .form-control:-ms-input-placeholder {
    color: rgba(24, 24, 24, 0.8); }
  .form-control::-webkit-input-placeholder {
    color: rgba(24, 24, 24, 0.8); }
  .hero-content .form-control {
    background: rgba(24, 24, 24, 0.1);
    color: #181818; }
  .footer-content .form-control {
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff; }
    .footer-content .form-control.placeholder {
      color: rgba(255, 255, 255, 0.8); }
    .footer-content .form-control:-moz-placeholder {
      color: rgba(255, 255, 255, 0.8); }
    .footer-content .form-control::-moz-placeholder {
      color: rgba(255, 255, 255, 0.8); }
    .footer-content .form-control:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.8); }
    .footer-content .form-control::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.8); }
  .error .form-control {
    border-bottom-color: #888888; }

/* ----- Footer ----- */
.footer {
  background: #181818;
  color: #ffffff; }

.footer h1,
.footer h3 {
  color: #ffffff; }

.footer h2,
.footer h4 {
  color: #ffffff; }

.footer a {
  color: #888888; }

/* ----- BrokerCheck ---- */
.is-branded.brokercheck .brokercheck--logo {
  background-color: #888888;
  color: #ffffff; }

.is-branded.brokercheck .brokercheck--icon {
  stroke: currentColor;
  fill: currentColor; }

.is-branded.brokercheck .brokercheck--content {
  background: #eeeeee;
  color: #181818; }
